<div class="row">
  <div class="col-lg-4 col-md-6">
    
    <%= form_for(contact) do |f| %>
      <% if contact.errors.any? %>
        <div class="alert alert-danger" id="error_explanation">
          <strong><%= pluralize(contact.errors.count, "error") %> prohibited this contact from being saved:</strong>

          <ul>
          <% contact.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field form-group">
        <%= f.label :name %>
        <%= f.text_field :name, class: "form-control", type: "text" %>
      </div>

      <div class="field form-group">
        <%= f.label :age %>
        <%= f.number_field :age, class: "form-control" %>
      </div>

      <div class="field form-group">
        <%= f.label :email %>
        <%= f.text_field :email, class: "form-control", type: "email" %>
      </div>

      <div class="field form-group">
        <%= f.label :role %>
        <%= f.text_field :role, class: "form-control", type: "text" %>
      </div>

      <div class="field form-group">
        <%= f.label :state %>
        <%= f.text_field :state, class: "form-control" %>
      </div>

      <div class="actions">
        <%= f.submit "Submit", class: "btn btn-default" %>
      </div>
      <br />
    <% end %>
  </div>
</div>
